* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  background: #fff;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  min-width: 700px;
  min-height: 500px;
  border-radius: 5%;
  margin: auto;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
  background-color: #666;
  border: 5px solid white;
  font-size: 80px;
  color: #fff;
  border-radius: 10%;
}

#player {
  padding: 1rem;
}

body {
  display: flex;
  background: #eee url('https://source.unsplash.com/1600x900/?nature') no-repeat
    center center/cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
